@charset "UTF-8";
*{
box-sizing:border-box;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
}
body {
  word-wrap: break-word;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 22px;
  }
  iframe {width:600px;height:450px;}
}

.col-sm-2-4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .col-sm-2-4 {
    float: left;
  }

  .col-sm-2-4 {
    width: 20%;
  }
}
/* color */
/* color */
.color-primary {
  color: #1cbbd0;
}

.color-secondary {
  color: #f5718b;
}

.color-tertiary {
  color: #f7f7f7;
}

.color-quaternary {
  color: #ccc;
}

.bgcolor-primary {
  background-color: #1cbbd0;
}

.bgcolor-secondary {
  background-color: #f5718b;
}

.bgcolor-tertiary {
  background-color: #f7f7f7;
}

.bgcolor-quaternary {
  background-color: #ccc;
}

/* base */
.container-fluid {
  max-width: 980px;
}

.container-bdr {
  border: 5px solid #1cbbd0;
}

.section {
  padding-top: 40px;
}
.section2 {
  padding-top: 0px;
}
.section:first-of-type {
  margin-top: 0;
  padding-top: 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 80px;
  }
  .section2 {
    padding-top: 20px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 20px;
}

/* utility */
.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.mt-10px {
  margin-top: 10px;
}

.mt-20px {
  margin-top: 20px;
}

.mt-30px {
  margin-top: 30px;
}

.mt-40px {
  margin-top: 40px;
}

.mt-50px {
  margin-top: 50px;
}

.mt-60px {
  margin-top: 60px;
}

.mt-70px {
  margin-top: 70px;
}

.mt-80px {
  margin-top: 80px;
}

.mt-90px {
  margin-top: 90px;
}

.mt-100px {
  margin-top: 100px;
}

.mb-10px {
  margin-bottom: 10px;
}

.mb-20px {
  margin-bottom: 20px;
}

.mb-30px {
  margin-bottom: 30px;
}

.mb-40px {
  margin-bottom: 40px;
}

.mb-50px {
  margin-bottom: 50px;
}

.mb-60px {
  margin-bottom: 60px;
}

.mb-70px {
  margin-bottom: 70px;
}

.mb-80px {
  margin-bottom: 80px;
}

.mb-90px {
  margin-bottom: 90px;
}

.mb-100px {
  margin-bottom: 100px;
}

.ml-10px {
  margin-left: 10px;
}

.ml-20px {
  margin-left: 20px;
}

.ml-30px {
  margin-left: 30px;
}

.ml-40px {
  margin-left: 40px;
}

.ml-50px {
  margin-left: 50px;
}

.ml-60px {
  margin-left: 60px;
}

.ml-70px {
  margin-left: 70px;
}

.ml-80px {
  margin-left: 80px;
}

.ml-90px {
  margin-left: 90px;
}

.ml-100px {
  margin-left: 100px;
}

.mr-10px {
  margin-right: 10px;
}

.mr-20px {
  margin-right: 20px;
}

.mr-30px {
  margin-right: 30px;
}

.mr-40px {
  margin-right: 40px;
}

.mr-50px {
  margin-right: 50px;
}

.mr-60px {
  margin-right: 60px;
}

.mr-70px {
  margin-right: 70px;
}

.mr-80px {
  margin-right: 80px;
}

.mr-90px {
  margin-right: 90px;
}

.mr-100px {
  margin-right: 100px;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.pt-10px {
  padding-top: 10px;
}

.pt-20px {
  padding-top: 20px;
}

.pt-30px {
  padding-top: 30px;
}

.pt-40px {
  padding-top: 40px;
}

.pt-50px {
  padding-top: 50px;
}

.pt-60px {
  padding-top: 60px;
}

.pt-70px {
  padding-top: 70px;
}

.pt-80px {
  padding-top: 80px;
}

.pt-90px {
  padding-top: 90px;
}

.pt-100px {
  padding-top: 100px;
}

.pb-10px {
  padding-bottom: 10px;
}

.pb-20px {
  padding-bottom: 20px;
}

.pb-30px {
  padding-bottom: 30px;
}

.pb-40px {
  padding-bottom: 40px;
}

.pb-50px {
  padding-bottom: 50px;
}

.pb-60px {
  padding-bottom: 60px;
}

.pb-70px {
  padding-bottom: 70px;
}

.pb-80px {
  padding-bottom: 80px;
}

.pb-90px {
  padding-bottom: 90px;
}

.pb-100px {
  padding-bottom: 100px;
}

.pl-10px {
  padding-left: 10px;
}

.pl-20px {
  padding-left: 20px;
}

.pl-30px {
  padding-left: 30px;
}

.pl-40px {
  padding-left: 40px;
}

.pl-50px {
  padding-left: 50px;
}

.pl-60px {
  padding-left: 60px;
}

.pl-70px {
  padding-left: 70px;
}

.pl-80px {
  padding-left: 80px;
}

.pl-90px {
  padding-left: 90px;
}

.pl-100px {
  padding-left: 100px;
}

.pr-10px {
  padding-right: 10px;
}

.pr-20px {
  padding-right: 20px;
}

.pr-30px {
  padding-right: 30px;
}

.pr-40px {
  padding-right: 40px;
}

.pr-50px {
  padding-right: 50px;
}

.pr-60px {
  padding-right: 60px;
}

.pr-70px {
  padding-right: 70px;
}

.pr-80px {
  padding-right: 80px;
}

.pr-90px {
  padding-right: 90px;
}

.pr-100px {
  padding-right: 100px;
}

/* typo */
small {
  display: block;
}

/* custom style */
.text-bold {
  font-weight: bold;
}

.btn {
  display: inline-block;
  padding: .5em 2em;
  border-radius: 3px;
  border-width: 1px;
  border: none;
  font-size: 100%;
}
.btn:hover {
  text-decoration: none;
  color: inherit;
}

.btn-large {
  padding-left: 3em;
  padding-right: 3em;
  font-size: 150%;
}

.btn-small {
  padding-left: 1em;
  padding-right: 1em;
  font-size: 72%;
}

.btn-full {
  width: 100%;
  text-align: center;
}

.btn-primary {
  background-color: #1cbbd0;
  color: #fff;
}
.btn-primary:hover {
  background-color: #19a7ba;
  color: #fff;
}

.btn-secondary {
  background-color: #f5718b;
  color: #fff;
}
.btn-secondary:hover {
  background-color: #19a7ba;
  color: #fff;
}

.btn-tertiary {
  background-color: #f7f7f7;
  color: #000;
}
.btn-tertiary:hover {
  background-color: #19a7ba;
  color: #fff;
}

.btn-quaternary {
  background-color: #ccc;
  color: #fff;
}
.btn-quaternary:hover {
  background-color: #19a7ba;
  color: #fff;
}

.only-edit {
  opacity: 0;
}

.edit .only-edit {
  opacity: 1;
}

.alert {
  padding: 10px;
  margin-bottom: 1em;
  border: 1px solid transparent;
  border-radius: 5px;
}
.alert-error {
  background-color: #cb0000;
  color: #fff;
}

.img-full {
  max-width: none;
  width: 100%;
}

/*==========================
element & module
00.		汎用スタイル
10.		textcenter
30.		full
40.		single
50.		text
60.		list
70.		profile
80.		point
90.		flow
100.	faq
110.	ranking
120.	trouble
130.	voice
140.	social button
150.	form
160.  button
==========================*/
/* 00. 汎用スタイル
---------------------------------------*/
[class*="col-sm-"] {
  margin-bottom: 1.5em;
}

@media screen and (min-width: 768px) {
  [class*="col-sm-"] {
    margin-bottom: 0;
  }
}
/* 10. textcenter
---------------------------------------*/
.m_txc {
  position: relative;
  padding: 20% 0;
  color: #fff;
}
.m_txc .e_head {
  margin-bottom: .5em;
}
.m_txc .e_head > br {
  display: none;
}
.m_txc .e_txt {
  margin-bottom: 2em;
}
.m_txc .e_btn {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .m_txc .e_head > br {
    display: inline;
  }
  .m_txc .e_btn {
    text-align: left;
  }
}

.m_txc::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.m_txc-reverse {
  position: relative;
  padding: 20% 0;
  background-size: cover;
  color: #000;
}
.m_txc-reverse .e_head {
  margin-bottom: .5em;
}
.m_txc-reverse .e_head > br {
  display: none;
}
.m_txc-reverse .e_txt {
  margin-bottom: 2em;
}
.m_txc-reverse .e_btn {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .m_txc-reverse .e_head > br {
    display: inline;
  }
  .m_txc-reverse .e_btn {
    text-align: left;
  }
}

.m_txc-reverse::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.txc_ctt {
  position: relative;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  max-width: 950px;
  padding-left: 1em;
  padding-right: 1em;
}

/* 20. card
---------------------------------------*/
/* card-topImg */
.e_card-topImg_no {
  font-weight: bold;
  text-align: center;
}

.m_card-topImg .e_img {
  text-align: center;
}

.m_card-topImg .e_txt {
  margin-bottom: 1em;
}

.m_card-topImg .e_btn {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .m_card-topImg .e_head {
    text-align: center;
  }
}
/* card-leftImg */
.m_card-leftImg {
  overflow: hidden;
}
.m_card-leftImg .e_head {
  margin-top: 0;
}
.m_card-leftImg .e_img {
  text-align: center;
}
.m_card-leftImg .e_txt {
  margin-bottom: 1em;
}
.m_card-leftImg .e_btn {
  text-align: center;
}

.m_card-leftImg-middle .e_btn {
  text-align: center;
}
.m_card-leftImg-middle .e_txt {
  margin-bottom: 1em;
}
.m_card-leftImg-middle .e_img {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .m_card-leftImg .e_img {
    text-align: left;
  }
  .m_card-leftImg .e_btn {
    text-align: left;
  }

  .m_card-leftImg-middle {
    display: table;
    width: 100%;
  }

  .m_card-leftImg-middle .e_img {
    display: table-cell;
    width: 50%;
  }

  .m_card-leftImg-middle .e_btn {
    text-align: left;
  }

  .card-leftImg-middle_ctt {
    display: table-cell;
    width: 50%;
    padding-left: 2em;
    vertical-align: middle;
  }
}
/*m_full-leftImg*/
.m_full-leftImg .e_img {
  text-align: center;
}
.m_full-leftImg .e_txt {
  margin-bottom: 1em;
}
.m_full-leftImg .e_btn {
  text-align: center;
}

.full-leftImg_ctt {
  padding: 1em;
}

@media screen and (min-width: 768px) {
  .m_full-leftImg {
    width: 100%;
    display: table;
  }
  .m_full-leftImg .e_img {
    display: table-cell;
    width: 50%;
  }
  .m_full-leftImg .e_btn {
    text-align: left;
  }

  .full-leftImg_ctt {
    display: table-cell;
    width: 50%;
    padding: 0 2em;
    vertical-align: middle;
  }
}
/* card-rightImg */
.m_card-rightImg {
  overflow: hidden;
}
.m_card-rightImg .e_txt {
  margin-bottom: 1em;
}
.m_card-rightImg .e_img {
  text-align: center;
}
.m_card-rightImg .e_btn {
  text-align: center;
}

.card-rightImg_ctt {
  overflow: hidden;
  padding-right: 20px;
}

.m_card-rightImg-middle .e_txt {
  margin-bottom: 1em;
}
.m_card-rightImg-middle .e_img {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .m_card-rightImg .e_img {
    text-align: right;
  }
  .m_card-rightImg .e_btn {
    text-align: left;
  }

  .m_card-rightImg-middle {
    display: table;
    width: 100%;
  }

  .m_card-rightImg-middle .e_img {
    display: table-cell;
    width: 50%;
  }

  .m_card-rightImg-middle .e_btn {
    text-align: left;
  }

  .card-rightImg-middle_ctt {
    display: table-cell;
    width: 50%;
    padding-right: 2em;
    vertical-align: middle;
  }
}
@media screen and (max-width: 767px) {
	 iframe {width:100%;height:380px;}/*★*/
  .m_card-rightImg-middle {
    display: flex;
    display: -webkit-box;
    /*android*/
    display: -webkit-flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    /*safari*/
    -webkit-box-orient: vertical;
    /*android*/
    flex-direction: column;
  }

  .m_card-rightImg-middle .e_img {
    -webkit-box-flex: 1;
    /*android*/
    flex: 1;
    -webkit-box-ordinal-group: 1;
    /*android*/
    -webkit-order: 1;
    order: 1;
  }

  .m_card-rightImg-middle .e_btn {
    text-align: center;
  }

  .card-rightImg-middle_ctt {
    -webkit-flex: 1;
    flex: 1;
    -webkit-box-ordinal-group: 2;
    /*android*/
    -webkit-order: 2;
    order: 2;
  }
}
/*m_full-rightImg*/
.m_full-rightImg .e_btn {
  text-align: center;
}
.m_full-rightImg .e_txt {
  margin-bottom: 1em;
}

.full-rightImg_ctt {
  padding: 1em;
}

@media screen and (min-width: 768px) {
  .m_full-rightImg {
    width: 100%;
    display: table;
  }

  .m_full-rightImg .e_img {
    display: table-cell;
    width: 50%;
  }

  .m_full-rightImg .e_btn {
    text-align: left;
  }

  .full-rightImg_ctt {
    display: table-cell;
    width: 50%;
    padding: 0 2em;
    vertical-align: middle;
  }
}
@media screen and (max-width: 767px) {
  .m_full-rightImg {
    display: flex;
    display: -webkit-box;
    /*android*/
    display: -webkit-flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    /*safari*/
    -webkit-box-orient: vertical;
    /*android*/
    flex-direction: column;
  }

  .m_full-rightImg .e_img {
    -webkit-box-flex: 1;
    /*android*/
    flex: 1;
    -webkit-box-ordinal-group: 1;
    /*android*/
    -webkit-order: 1;
    order: 1;
  }

  .full-rightImg_ctt {
    -webkit-flex: 1;
    flex: 1;
    -webkit-box-ordinal-group: 2;
    /*android*/
    -webkit-order: 2;
    order: 2;
  }
}
/* 30. full
---------------------------------------*/
.m_full {
  padding: 20% 0;
  background-color: #f7f7f7;
}
.m_full .e_head > br {
  display: none;
}
@media screen and (min-width: 768px) {
  .m_full .e_head > br {
    display: inline;
  }
}

.full_ctt {
  margin-left: auto;
  margin-right: auto;
  max-width: 950px;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  z-index: 10;
}

.m_full-bgImg {
  position: relative;
  padding: 20% 0;
  color: #fff;
}
.m_full-bgImg .e_head > br {
  display: none;
}
@media screen and (min-width: 768px) {
  .m_full-bgImg .e_head > br {
    display: inline;
  }
}

.m_full-bgImg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.m_full-bgImg-reverse {
  position: relative;
  padding: 20% 0;
  color: #000;
}
.m_full-bgImg-reverse .e_head > br {
  display: none;
}
@media screen and (min-width: 768px) {
  .m_full-bgImg-reverse .e_head > br {
    display: inline;
  }
}

.m_full-bgImg-reverse::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.full-bgImg_ctt {
  margin-left: auto;
  margin-right: auto;
  max-width: 950px;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  z-index: 10;
}

/* 40. single
---------------------------------------*/
.m_movie {
  position: relative;
  padding-bottom: 75%;
}
.m_movie iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.m_btns ul, .m_btns-circle ul {
  padding-left: 0;
}
.m_btns li, .m_btns-circle li {
  display: inline-block;
  margin: 0 10px 10px;
  list-style-type: none;
}
.m_btns a, .m_btns-circle a {
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  font-size: 2em;
  text-align: center;
  background-color: #1cbbd0;
  color: #333;
}
.m_btns a:hover, .m_btns-circle a:hover {
  background-color: #bfbfbf;
}

.m_btns-circle a {
  overflow: hidden;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
}
.m_btns-circle a > img {
  width: 60px;
  vertical-align: top;
}

/* 50. text
---------------------------------------*/
.e_ribbonHead {
  position: relative;
  z-index: 10;
  margin-bottom: 1em;
}

.ribbonHead_head {
  padding: 10px;
  text-align: center;
  background-color: #1CBBD0;
}

@media (min-width: 768px) {
  .e_ribbonHead {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 3em;
  }
  .e_ribbonHead::before, .e_ribbonHead::after {
    content: "";
    position: absolute;
    bottom: -10px;
    z-index: 1;
    width: 100px;
    height: 100px;
  }
  .e_ribbonHead::before {
    left: -80px;

  }
  .e_ribbonHead::after {
    right: -80px;

  }

  .ribbonHead_head {
    position: relative;
    z-index: 10;
    min-height: 100px;
    padding-top: 28px;
    padding-bottom: 28px;
  }
}
.m_txtBox {
  padding: 1em;
  border: 5px solid #1cbbd0;
}
.m_txtBox .e_catch {
  margin-bottom: .5em;
}

/* 60. list
---------------------------------------*/
.e_checkList {
  padding-left: 0px;
}
.e_checkList ul {
  padding-left: 0px;
}
.e_checkList li {
  list-style: none;
  padding-left: 50px;
  padding-bottom: 20px;

}

.m_checkList .e_head {
  text-align: center;
  margin-bottom: 1em;
}

/* 70. profile
---------------------------------------*/
.m_profile {
  text-align: center;
}
.m_profile .e_img-circle {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}
.m_profile .e_txt {
  display: inline-block;
  max-width: 800px;
  margin-bottom: 1em;
  text-align: left;
}

/* 80. point
---------------------------------------*/
.e_pointHead {
  display: table;
  width: 100%;
  margin-bottom: 1em;
}

.pointHead_no {
  display: table-cell;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 70px;
  text-align: center;
  border-right: 1px #fff solid;
}

.pointHead_no_point {
  font-size: 14px;
}

.pointHead_no_no {
  margin-bottom: 0;
}
.pointHead_no_no p {
  margin-bottom: 0;
}

.pointHead_head {
  display: table-cell;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  vertical-align: middle;
}

.m_point-bdr {
  border: 5px solid #1cbbd0;
}
.m_point-bdr .e_txt {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.m_tel-bdr .e_tel {
  padding: .5em;
  border: 5px solid #1cbbd0;
}

/* 90. flow
---------------------------------------*/
.m_flow {
  position: relative;
  border: 3px #1cbbd0 solid;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}
.m_flow + .m_flow {
  margin-top: 50px;
}

.m_flow::after {
  box-sizing: content-box;
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  z-index: 1;
  width: 0px;
  height: 0px;

}

.m_flow:last-of-type::after {
  display: none;
}

.flow_ctt {
  overflow: hidden;
}

.flow_stepHead {
  margin-bottom: 1em;
  padding-bottom: 5px;
  border-bottom: 2px #1cbbd0 solid;
}

.flow_stepHead_step {
  display: inline-block;
}

.flow_stepHead_no {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.5em;
  line-height: 2em;
}

.m_flow .e_img {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .flow_stepHead_head {
    display: inline-block;
  }

  .m_flow .e_img {
    float: right;
    max-width: 20%;
  }
}
/* 100. faq
---------------------------------------*/
.m_faq .faq_q,
.m_faq .faq_a {
  overflow: hidden;
}
.m_faq .faq_q {
  margin-bottom: 1em;
}
.m_faq .faq_a {
  margin-bottom: 2em;
}
.m_faq .e_head {
  float: left;
  width: 1.5em;
  height: 1.5em;
  margin-right: .5em;
  line-height: 1.5em;
  border-radius: .75em;
  background-color: #ccc;
  text-align: center;
}
.m_faq .e_txt {
  margin-left: 3em;
  padding-top: .3em;
}

/* 110. ranking
---------------------------------------*/
.e_ranking_no {
  text-align: center;
  font-weight: bold;
}

.m_ranking-3col .e_img,
.m_ranking-5col .e_img {
  text-align: center;
}
.m_ranking-3col .e_txt,
.m_ranking-5col .e_txt {
  margin-bottom: 1em;
}
.m_ranking-3col .e_btn,
.m_ranking-5col .e_btn {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .m_ranking-3col .e_head,
  .m_ranking-5col .e_head {
    text-align: center;
  }
}
.e_ranking-3col_no,
.e_ranking-5col_no {
  text-align: center;
}

/* 120. trouble
---------------------------------------*/
.m_trouble .trouble_txt {
  margin-bottom: 1em;
}

.m_trouble .e_img {
  text-align: center;
}

@media (min-width: 768px) {
  .m_trouble {
    position: relative;
  }
  .m_trouble ul {
    padding-left: 0;
  }
  .m_trouble .trouble_txt {
    position: absolute;
    list-style-type: none;
    display: block;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 14px;
  }
  .m_trouble .trouble_txt::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  .m_trouble .trouble_txt:first-of-type {
    top: 0;
    left: 0;
  }
  .m_trouble .trouble_txt:first-of-type::after {
    right: -20px;
    bottom: -20px;
  }
  .m_trouble .trouble_txt:nth-of-type(2) {
    top: 10px;
    right: 0;
  }
  .m_trouble .trouble_txt:nth-of-type(2)::after {
    left: -20px;
    bottom: -20px;
  }
  .m_trouble .trouble_txt:nth-of-type(3) {
    bottom: 0;
    left: 20px;
  }
  .m_trouble .trouble_txt:nth-of-type(3)::after {
    right: -20px;
    top: -20px;
  }
  .m_trouble .trouble_txt:nth-of-type(4) {
    bottom: 0;
    right: 20px;
  }
  .m_trouble .trouble_txt:nth-of-type(4)::after {
    left: -20px;
    top: -20px;
  }
  .m_trouble .e_img {
    margin: 0 auto;
    max-width: 250px;
    text-align: center;
  }
}
/* 130. voice
---------------------------------------*/
.m_voice-leftImg-profLeft .e_head {
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .m_voice-leftImg-profLeft .e_txt {
    font-size: 14px;
  }
  .m_voice-leftImg-profLeft .e_voiceProfile {
    font-size: 14px;
  }
  .m_voice-leftImg-profLeft .e_img {
    margin-bottom: 5px;
  }
}

/* 140. social button
---------------------------------------*/
.m_social-btns li {
  display: inline-block;
  margin: 0 5px 10px;
  vertical-align: top;
  list-style-type: none;
}
.m_social-btns li a {
  line-height: 1;
  font-size: 20px;
}
.m_social-btns li .official-code {
  display: none;
}

.btn-like-official .fb-like {
  position: relative;
  top: -2px;
}

.social-btn-count-box {
  position: relative;
  margin-bottom: 5px;
  padding: 10px 0;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 3px;
  text-align: center;
  line-height: 1;
  font-size: 12px;
  color: #333333;
}
.social-btn-count-box:after, .social-btn-count-box:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  height: 0;
  width: 0;
  border: solid transparent;
  pointer-events: none;
}
.social-btn-count-box:after {
  margin-left: -5px;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 5px;
}
.social-btn-count-box:before {
  margin-left: -6px;
  border-color: rgba(204, 204, 204, 0);
  border-top-color: #cccccc;
  border-width: 6px;
}
@media screen and (min-width: 768px) {
  .social-btn-count-box {
    margin-bottom: -1px;
  }
}

/* 150. form
---------------------------------------*/
.m_form .only-edit {
  margin-bottom: 1em;
  padding: 10px;
  background-color: #332c1f;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}

.form-thanks {
  display: none;
  padding: 10px;
  border: 2px solid #ccc;
  background-color: #f7f7f7;
}

@media screen and (max-width: 769px) {
  .m_form label {
    margin-bottom: 10px;
  }
}
/*==========================
sections
00 .	汎用スタイル
10 .	hero
20.		card
30.		full
40.		single
50.		text
60.		list
70.		profile
80.		point
90.		flow
100.	faq
110.	ranking
120.	trouble
130.	voice
140.	social button
150.	form
160.  button
==========================*/
.withBg {
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: #f7f7f7;
}

/* 順番に応じてmargin打ち消し */
[class*="s_hero"] + [class*="s_hero"],
[class*="s_hero"] + [class*="s_full"],
[class*="s_full"] + [class*="s_full"],
[class*="s_full"] + [class*="s_hero"] {
  padding-top: 0;
}

[class*="s_hero"] + [class*="s_footer"],
[class*="s_full"] + [class*="s_footer"] {
  margin-top: 0;
}

.s_ribbon + .section {
  padding-top: 0;
}

/* footer */
.s_footer-pp {
  margin-top: 40px;
  padding-top: 60px;
 box-sizing:border-box;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
  text-align: center;
  font-size: 0.72727em;
  background: #e5e5e5 }


@media screen and (min-width: 768px) {
  .s_footer-pp {
    margin-top: 80px;
  }
}

.s_footer-pp-fix {
  margin-top: 40px;
  padding: 50px 0 20px;
  background-color: #e5e5e5;
  text-align: center;
  border-bottom:14px solid #333;
}

#footer-created {
  position: fixed;
  left: 0;
  bottom: -60px;
  width: 100%;
  z-index: 100;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  text-align: center;
}
#footer-created.show {
  bottom: 0;
}

/* 10. s_txc
---------------------------------------*/
@media screen and (min-width: 768px) {
  .s_txc-txtCenter,
  .s_txc-reverse-txtCenter {
    text-align: center;
  }
  .s_txc-txtCenter .e_btn,
  .s_txc-reverse-txtCenter .e_btn {
    text-align: center;
  }
}

/* 20. card
---------------------------------------*/
/* s_card-topImg */
.s_card-topImg-1col > .container-fluid > .e_head,
.s_card-topImg-2col > .container-fluid > .e_head,
.s_card-topImg-3col > .container-fluid > .e_head,
.s_card-topImg-4col > .container-fluid > .e_head,
.s_card-topImg-6col > .container-fluid > .e_head,
.s_card-topImg-1col-bdr > .container-fluid > .e_head {
  margin-bottom: .5em;
  text-align: center;
}

.s_card-topImg-1col {
  text-align: center;
}
.s_card-topImg-1col .m_card-topImg .e_txt {
  display: inline-block;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .s_card-topImg-4col .container-fluid .e_txt,
  .s_card-topImg-6col .container-fluid .e_txt {
    font-size: 14px;
  }
}
/* s_card-leftImg */
.s_card-leftImg-1col > .container-fluid > .e_head,
.s_card-leftImg-2col > .container-fluid > .e_head,
.s_card-leftImg-3col > .container-fluid > .e_head,
.s_card-leftImg-middle > .container-fluid > .e_head,
.s_card-leftImg-1col-bdr > .container-fluid > .e_head {
  margin-bottom: .5em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .s_card-leftImg-2col .container-fluid .e_txt,
  .s_card-leftImg-3col .container-fluid .e_txt {
    font-size: 14px;
  }
}
/* s_card-rightImg */
.s_card-rightImg-1col-bdr > .container-fluid > .e_head,
.s_card-rightImg-middle > .container-fluid > .e_head {
  margin-bottom: .5em;
  text-align: center;
}

/* border */
.s_card-topImg-1col-bdr .container-bdr,
.s_card-leftImg-1col-bdr .container-bdr,
.s_card-rightImg-1col-bdr .container-bdr {
  margin-right: 15px;
  margin-left: 15px;
  padding: 20px;
}
@media screen and (min-width: 1010px) {
  .s_card-topImg-1col-bdr .container-bdr,
  .s_card-leftImg-1col-bdr .container-bdr,
  .s_card-rightImg-1col-bdr .container-bdr {
    margin-right: auto;
    margin-left: auto;
  }
}

/* 30. full
---------------------------------------*/
@media screen and (min-width: 768px) {
  .s_full-bgImg-txtCenter {
    text-align: center;
  }
}

.s_full-bgImg-topImg-1col .full-bgImg_ctt > .e_head,
.s_full-bgImg-leftImg-1col .full-bgImg_ctt > .e_head,
.s_full-bgImg-rightImg-1col .full-bgImg_ctt > .e_head,
.s_full-bgImg-topImg-1col-reverse .full-bgImg_ctt > .e_head,
.s_full-bgImg-leftImg-1col-reverse .full-bgImg_ctt > .e_head,
.s_full-bgImg-rightImg-1col-reverse .full-bgImg_ctt > .e_head {
  margin-bottom: .5em;
}

.s_full_img {
  text-align: center;
}
.s_full_img > .e_img > img {
  width: 100%;
  max-width: none;
}

/* 40. single
---------------------------------------*/
.s_movie > .contaner-fluid > .e_head {
  margin-bottom: .5em;
  text-align: center;
}

.s_head {
  padding-top: 1em;
}

.s_txt {
  padding-top: 1em;
}

.s_btn, .s_btn-large, .s_btn-small {
  text-align: center;
}

.s_img {
  padding-top: 1em;
  text-align: center;
}
.s_img .e_img {
  margin-bottom: 10px;
}

.s_movie {
  padding-top: 1em;
}

.s_btns-circle {
  padding-top: 1em;
  text-align: center;
}

/* 60. list
---------------------------------------*/
.s_checklist-bdr .e_checkList li {

}

.s_checklist-bdr .e_head {
  padding-bottom: .2em;
  border-bottom: 2px #1cbbd0 solid;
}

.s_checklist-bdr .m_checkList {
  border: 5px #1cbbd0 solid;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

/* 70. profile
---------------------------------------*/
.s_profile > .container-fluid > .e_head {
  margin-bottom: .5em;
  text-align: center;
}

.s_profile > .container-fluid > .m_profile {
  margin-bottom: 1em;
}

.s_profile > .container-fluid > .s_ {
  text-align: center;
}

.s_profile .m_btns-circle {
  text-align: center;
}

/* 80. point
---------------------------------------*/
.s_barHead .m_barHead .e_txt {
  padding-top: 30px;
  padding-left: 70px;
}

.s_barHead .e_pointHead,
.s_point-centerImg .e_pointHead {
  background-color: #1cbbd0;
  color: #fff;
}

.s_point-centerImg .m_point-bdr .e_txt {
  padding-bottom: 50px;
}
.s_point-centerImg .e_img {
  position: relative;
  top: -50px;
  max-width: 300px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .s_point-centerImg .m_point-bdr .e_txt {
    padding-bottom: 100px;
  }
  .s_point-centerImg .e_img {
    top: -100px;
    max-width: 500px;
  }
}
.s_point-rightImg .e_img {
  display: none;
}

@media (min-width: 768px) {
  .s_point-rightImg .m_txtBox {
    float: left;
  }
  .s_point-rightImg .e_img {
    display: block;
    max-width: 500px;
  }
}
.s_tel-bdr-rightImg [class^="col"] > .e_img {
  display: none;
}

@media (min-width: 768px) {
  .s_tel-bdr-rightImg {
    position: relative;
  }
  .s_tel-bdr-rightImg .m_tel-bdr {
    margin-right: 300px;
  }
  .s_tel-bdr-rightImg .m_tel-bdr > .e_txt {
    padding-right: 50px;
  }
  .s_tel-bdr-rightImg [class^="col"] > .e_img {
    display: block;
    position: absolute;
    right: 50px;
    bottom: 0;
    max-width: 300px;
  }
}
/* 90. flow
---------------------------------------*/

.s_flow .flow_stepHead_no {
  width: 2em;
  height: 2em;
  background-color: #0095b3;
  color: #fff;
  border-radius: 50%;
  text-align: center;
}

/* 100. faq
---------------------------------------*/
/* 110. ranking
---------------------------------------*/
.s_ranking-3col > .container-fluid > .e_head,
.s_ranking-5col > .container-fluid > .e_head {
  margin-bottom: .5em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .s_ranking-3col > .container-fluid > .e_head,
  .s_ranking-5col > .container-fluid > .e_head {
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 768px) {
  .s_ranking-5col .container-fluid .e_txt {
    font-size: 14px;
  }
}
/* 120. trouble
---------------------------------------*/
.s_trouble > .container-fluid > .e_head {
  margin-bottom: .5em;
  text-align: center;
}

/* 130. voice
---------------------------------------*/
.s_voice_leftImg-1col > .container-fluid > .e_head,
.s_voice_leftImg-2col > .container-fluid > .e_head {
  margin-bottom: .5em;
  text-align: center;
}

/* 140. social button
---------------------------------------*/
.s_social-btns {
  text-align: center;
}

/* 150. form
---------------------------------------*/
.s_form > .container-fluid > .e_head {
  margin-bottom: .5em;
}
.s_form > .container-fluid > .e_txt {
  margin-bottom: 1em;
}

/* 160.  button
---------------------------------------*/
.button {
	display: inline-block;
	width: 200px;
	height: 54px;
	text-align: center;
	text-decoration: none;
	line-height: 54px;
	outline: none;
  background-color: #333;
	color: #fff;
}
.button:hover {
	background-color: #1cbbd0;
  color: #fff;
}
.button::before,
.button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.button,
.button::before,
.button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}


/* color scheme
---------------------------------------*/
.theme-nature {
  background-color: #F9F2EA;
}
.theme-nature .btn {
  background-color: #7ABB27;
}
.theme-nature .container-bdr {
  border-color: #7ABB27;
}
.theme-nature .pointHead_head,
.theme-nature .e_pointHead,
.theme-nature .m_btns a,
.theme-nature .m_btns-circle a,
.theme-nature .m_btns-circle a,
.theme-nature .flow_stepHead_no,
.theme-nature .s_footer-pp,
.theme-nature .s_footer-pp-fix {
  background-color: #7ABB27;
}
.theme-nature .ribbonHead_head {
  background-color: #7ABB27;
  color: #fff;
}
@media (min-width: 768px) {
  .theme-nature .e_ribbonHead::before {

  }
  .theme-nature .e_ribbonHead::after {

  }
}
.theme-nature .m_point-bdr {
  border-color: #7ABB27;
  background-color: #fff;
}
.theme-nature .m_tel-bdr .e_tel {
  border-color: #7ABB27;
  background-color: #fff;
  color: #7ABB27;
}
.theme-nature .m_txtBox {
  border-color: #7ABB27;
  background-color: #fff;
}
.theme-nature .m_txtBox .e_catch {
  color: #7ABB27;
}
.theme-nature .m_flow {
  border-color: #7ABB27;
}
.theme-nature .m_flow::after {
  border-top-color: #7ABB27;
}
.theme-nature .flow_stepHead {
  border-color: #7ABB27;
}
.theme-nature .m_faq .e_head {
  background-color: #7ABB27;
  color: #fff;
}
.theme-nature .m_full {
  background-color: #7ABB27;
  color: #fff;
}
.theme-nature .s_checklist-bdr .e_head {
  border-color: #7ABB27;
}
.theme-nature .s_checklist-bdr .m_checkList {
  border-color: #7ABB27;
  background-color: #fff;
}

.theme-modern {
  background-color: #f7f7f7;
  color: #000;
}
.theme-modern .btn {
  background-color: #222;
}
.theme-modern .m_txc .btn {
  background-color: #fff;
  color: #000;
}
.theme-modern .container-bdr {
  border-color: #222;
}
.theme-modern .pointHead_head,
.theme-modern .e_pointHead,
.theme-modern .m_btns a,
.theme-modern .m_btns-circle a,
.theme-modern .m_btns-circle a,
.theme-modern .flow_stepHead_no {
  background-color: #222;
}
.theme-modern .s_footer-pp,
.theme-modern .s_footer-pp-fix {
  background-color: #222;
  color: #fff;
}
.theme-modern .ribbonHead_head {
  background-color: #222;
  color: #fff;
}
@media (min-width: 768px) {
  .theme-modern .e_ribbonHead::before {

  }
  .theme-modern .e_ribbonHead::after {

  }
}
.theme-modern .m_point-bdr {
  border-color: #222;
  background-color: #fff;
}
.theme-modern .m_tel-bdr .e_tel {
  border-color: #222;
  background-color: #fff;
  color: #222;
}
.theme-modern .m_txtBox {
  border-color: #222;
  background-color: #fff;
}
.theme-modern .m_txtBox .e_catch {
  color: #222;
}
.theme-modern .m_flow {
  border-color: #222;
}
.theme-modern .m_flow::after {
  border-top-color: #222;
}
.theme-modern .flow_stepHead {
  border-color: #222;
}
.theme-modern .m_faq .e_head {
  background-color: #222;
  color: #fff;
}
.theme-modern .m_full {
  background-color: #e6e6e6;
  color: #000;
}
.theme-modern .s_checklist-bdr .e_head {
  border-color: #222;
}
.theme-modern .s_checklist-bdr .m_checkList {
  background-color: #fff;
  border-color: #222;
}

.theme-elegant {
  background-color: #F5F4F2;
}
.theme-elegant .btn {
  background-color: #6e062d;
}
.theme-elegant .container-bdr {
  border-color: #6e062d;
}
.theme-elegant .pointHead_head,
.theme-elegant .e_pointHead,
.theme-elegant .m_btns a,
.theme-elegant .m_btns-circle a,
.theme-elegant .m_btns-circle a,
.theme-elegant .flow_stepHead_no {
  background-color: #6e062d;
}
.theme-elegant .s_footer-pp,
.theme-elegant .s_footer-pp-fix {
  background-color: #6e062d;
  color: #fff;
}
.theme-elegant .ribbonHead_head {
  background-color: #6e062d;
  color: #fff;
}
@media (min-width: 768px) {
  .theme-elegant .e_ribbonHead::before {

  }
  .theme-elegant .e_ribbonHead::after {

  }
}
.theme-elegant .m_point-bdr {
  border-color: #6e062d;
  background-color: #fff;
}
.theme-elegant .m_tel-bdr .e_tel {
  border-color: #6e062d;
  background-color: #fff;
  color: #6e062d;
}
.theme-elegant .m_txtBox {
  border-color: #6e062d;
  background-color: #fff;
}
.theme-elegant .m_txtBox .e_catch {
  color: #6e062d;
}
.theme-elegant .m_flow {
  border-color: #6e062d;
}
.theme-elegant .m_flow::after {
  border-top-color: #6e062d;
}
.theme-elegant .flow_stepHead {
  border-color: #6e062d;
}
.theme-elegant .m_faq .e_head {
  background-color: #6e062d;
  color: #fff;
}
.theme-elegant .m_full {
  background-color: #6e062d;
  color: #fff;
}
.theme-elegant .s_checklist-bdr .e_head {
  border-color: #6e062d;
}
.theme-elegant .s_checklist-bdr .m_checkList {
  border-color: #6e062d;
  background-color: #fff;
}

.theme-dark {
  background-color: #0e1823;
  color: #fff;
}
.theme-dark .btn {
  background-color: #fff;
  color: #000;
  border: 1px solid #e6e6e6;
}
.theme-dark .container-bdr {
  border-color: #fff;
}
.theme-dark .pointHead_head,
.theme-dark .e_pointHead,
.theme-dark .flow_stepHead_no {
  background-color: #fff;
  color: #000;
}
.theme-dark .pointHead_no {
  border-color: #ccc;
}
.theme-dark .m_btns a, .theme-dark .m_btns-circle a,
.theme-dark .m_btns-circle a {
  background-color: #666;
}
.theme-dark .s_footer-pp,
.theme-dark .s_footer-pp-fix {
  background-color: #000;
  color: #fff;
}
.theme-dark .ribbonHead_head {
  background-color: #fff;
  color: #000;
}
@media (min-width: 768px) {
  .theme-dark .e_ribbonHead::before {

  }
  .theme-dark .e_ribbonHead::after {

  }
}
.theme-dark .m_point-bdr {
  border-color: #fff;
  background-color: #000;
}
.theme-dark .m_tel-bdr .e_tel {
  border-color: #fff;
  background-color: #000;
  color: #fff;
}
.theme-dark .m_txtBox {
  border-color: #fff;
  background-color: #000;
}
.theme-dark .m_txtBox .e_catch {
  color: #fff;
}
.theme-dark .m_flow {
  background-color: #0e1823;
  border-color: #fff;
}
.theme-dark .m_flow::after {
  border-top-color: #fff;
}
.theme-dark .flow_stepHead {
  border-color: #fff;
}
.theme-dark .m_faq .e_head {
  background-color: #fff;
  color: #000;
}
.theme-dark .m_full {
  background-color: #333;
  color: #fff;
}
.theme-dark .s_checklist-bdr .e_head,
.theme-dark .s_checklist-bdr .m_checkList {
  border-color: #fff;
}
.theme-dark .e_checkList li {

}
.theme-dark .s_checklist-bdr .e_checkList li {

}
@media (min-width: 768px) {
  .theme-dark .m_trouble {
    color: #000;
  }
}

/* set font size
※ 優先度を上げるため後方に記述する
---------------------------------------*/
.font-size-x-small {
  font-size: 14px;
}

.font-size-small {
  font-size: 14px;
}

.font-size-medium {
  font-size: 14px;
}

.font-size-large {
  font-size: 28px;
}

.font-size-x-large {
  font-size: 42px;
}

/* 過去のテンプレ対応 */
.m_trouble .trouble_txt.font-size-x-small {
  font-size: 14px;
}
.m_trouble .trouble_txt.font-size-small {
  font-size: 14px;
}
.m_trouble .trouble_txt.font-size-medium {
  font-size: 14px;
}
.m_trouble .trouble_txt.font-size-large {
  font-size: 28px;
}
.m_trouble .trouble_txt.font-size-x-large {
  font-size: 42px;
}

@media screen and (min-width: 768px) {
  .font-size-x-small {
    font-size: 13px;
  }

  .font-size-small {
    font-size: 16px;
  }

  .font-size-medium {
    font-size: 22px;
  }

  .font-size-large {
    font-size: 44px;
  }

  .font-size-x-large {
    font-size: 66px;
  }

  /* 過去のテンプレ対応 */
  .m_voice-leftImg-profLeft .e_txt.font-size-x-small,
  .m_voice-leftImg-profLeft .e_voiceProfile.font-size-x-small,
  .s_card-topImg-4col .container-fluid .e_txt.font-size-x-small,
  .s_card-topImg-6col .container-fluid .e_txt.font-size-x-small,
  .s_card-leftImg-2col .container-fluid .e_txt.font-size-x-small,
  .s_card-leftImg-3col .container-fluid .e_txt.font-size-x-small,
  .s_ranking-5col .container-fluid .e_txt.font-size-x-small {
    font-size: 13px;
  }
  .m_voice-leftImg-profLeft .e_txt.font-size-small,
  .m_voice-leftImg-profLeft .e_voiceProfile.font-size-small,
  .s_card-topImg-4col .container-fluid .e_txt.font-size-small,
  .s_card-topImg-6col .container-fluid .e_txt.font-size-small,
  .s_card-leftImg-2col .container-fluid .e_txt.font-size-small,
  .s_card-leftImg-3col .container-fluid .e_txt.font-size-small,
  .s_ranking-5col .container-fluid .e_txt.font-size-small {
    font-size: 16px;
  }
  .m_voice-leftImg-profLeft .e_txt.font-size-medium,
  .m_voice-leftImg-profLeft .e_voiceProfile.font-size-medium,
  .s_card-topImg-4col .container-fluid .e_txt.font-size-medium,
  .s_card-topImg-6col .container-fluid .e_txt.font-size-medium,
  .s_card-leftImg-2col .container-fluid .e_txt.font-size-medium,
  .s_card-leftImg-3col .container-fluid .e_txt.font-size-medium,
  .s_ranking-5col .container-fluid .e_txt.font-size-medium {
    font-size: 22px;
  }
  .m_voice-leftImg-profLeft .e_txt.font-size-large,
  .m_voice-leftImg-profLeft .e_voiceProfile.font-size-large,
  .s_card-topImg-4col .container-fluid .e_txt.font-size-large,
  .s_card-topImg-6col .container-fluid .e_txt.font-size-large,
  .s_card-leftImg-2col .container-fluid .e_txt.font-size-large,
  .s_card-leftImg-3col .container-fluid .e_txt.font-size-large,
  .s_ranking-5col .container-fluid .e_txt.font-size-large {
    font-size: 44px;
  }
  .m_voice-leftImg-profLeft .e_txt.font-size-x-large,
  .m_voice-leftImg-profLeft .e_voiceProfile.font-size-x-large,
  .s_card-topImg-4col .container-fluid .e_txt.font-size-x-large,
  .s_card-topImg-6col .container-fluid .e_txt.font-size-x-large,
  .s_card-leftImg-2col .container-fluid .e_txt.font-size-x-large,
  .s_card-leftImg-3col .container-fluid .e_txt.font-size-x-large,
  .s_ranking-5col .container-fluid .e_txt.font-size-x-large {
    font-size: 66px;
  }
}
/* web font
---------------------------------------*/
/* イワタUDゴシックL表示用 */
.fp_gothic-l {
  font-family: "IwaUDGoDspPro-Lt", sans-serif;
}

/* イワタ新ゴシック体H */
.fp_gothic-h {
  font-family: "IwaNGoPro-Hv", sans-serif;
}

/* UD新丸ゴ R */
.fp_marugo-r {
  font-family: "UD Shin Maru Go Regular", sans-serif;
}

/* 白舟行書 */
.fp_gyosyo {
  font-family: "HakusyuGyousyo", sans-serif;
}

/* モトヤ隷書2 */
.fp_reisyo {
  font-family: "MotoyaReisyoStd-W2", sans-serif;
}

/* 大江戸勘亭流 Std E */
.fp_edo {
  font-family: "OedKtrStd-E", sans-serif;
}

/* スキップ Std D */
.fp_design1 {
  font-family: "SkipStd-D", sans-serif;
}

/* スランプ Std DB */
.fp_design2 {
  font-family: "SlumpStd-DB", sans-serif;
}

/* ユールカ Std UB */
.fp_design3 {
  font-family: "YurukaStd-UB", sans-serif;
}

/* モトヤバーチ3 */
.fp_design4 {
  font-family: "MotoyaBirchStd-W3", sans-serif;
}
